<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <div class="container">
        <header class="jumbotron text-center">
            <h1>Let's Play PIG!</h1>
        </header>
        <main role="main">
            @if (TempData.Keys.Contains("message"))
            {
                <h2 class="bg-dark text-white text-center p-4 mt-4">@TempData["message"]</h2>
            }

            @RenderBody()
        </main>
    </div>
</body>
</html>
